# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Next.js build
.next/
out/

# TypeScript build
dist/
build/

# Environmental variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# System files
.DS_Store
Thumbs.db
